.dropdown-menu {
  width: 200px;
  position: absolute;
  list-style: none;
  padding-top: 0px;
  text-align: start;
}
.dropdown-menu li {
  background: white;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background: black;
}
.dropdown-meun.clicked {
  display: none;
}
.dropdwon-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
