$primary-color: black;
$primary-font-color: white;
$logo-color: radial-gradient(#f2e205, #d99e32, #d98723);

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin link-style {
  text-decoration: none;
}
