.navbar {
  background: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  font-size: 20px;
  .left,
  .right {
    display: flex;
    align-items: center;
  }
  .title {
    font-family: "Gloria Hallelujah";
    font-size: 35px;
    padding: 0px 20px 0 20px;
  }
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
  }
  input[type="text"] {
    width: 200px;
    padding: 10px;
    outline: none;
    border-radius: 20px;
  }
}
