.outer {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
  width: 400px;
  padding: 40px;

  .inner {
    display: flex;
    align-items: center;
  }
}
