.list-container {
  display: flex;
  padding: 20px;

  .filter {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 40%;
    }
    li {
      list-style-type: none;
    }
    input {
      margin-right: 10px;

      &:checked + label:before {
        background: #000000;
      }
    }
  }
}
