@use '../../../styles.scss' as styles;

.account-main {
  display: flex;
  align-items: stretch;
  max-width: 1500px;
  margin: 0 auto;

  .account-aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    // justify-content: space-between;
    padding: 20px 0 20px 0;

    .nav-links {
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin: 10px;
    }
  }

  .account-content {
    width: 80%;
    height: 100%;
  }
}
